html , body{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background: #75a346;
    position: relative;
    width: 100%;
    top: 0%;
    height: 20%;
    border-bottom: 1px solid #ddd;
}
.zaglavlje{
    display: flex;
    background: #fff;
    padding: 10px 5px;
    height: 65%;
}
.zaglavlje .logo{
    flex: 0 0 70%;
}
.logo a{
    position: absolute;
    top: 25px;
    left: 40px;
}
.zaglavlje .pretraga{
    flex: 0 0 30%;
}
.pretraga #form-pretraga{
    padding-top: 40px;
    padding-left: 10px;
    margin: 0;
}
#form-pretraga #dugme{
    position: relative;
    left: 475px;
    bottom: 39px;
    background-color: #01543d;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}
#form-pretraga #opcije{
    width: 200px; 
    height: 150px; 
    background-color: #ebebebcc; 
    border: 1px solid #036f34; 
    position: fixed; 
    top: 100px; 
    right: 215px; 
    z-index: 9999; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: none; 
    pointer-events: auto;
}
.pretraga #pretraga{
    display: flex;
    margin: auto; 
    padding: 10px 25px;
    border: 5px solid #036f34;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: center;
    height: 35%;
}
nav ul{
    display: flex;
    list-style: none;
    width: 100%;
}
nav ul li{
    flex-grow: 1;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s ease-out;
}
nav ul li a:hover{
    color: #537d29;
    font-size: 33px;
}
footer{
    width: 100%;
    height: 30%;
    border-top: 1px solid #ddd;
    background: #75a346;
}
.gornji-footer {
    display: flex;
    align-items: center;
    padding: 20px; 
    width: 100%;
}
.gornji-footer .logoF {
    flex: 0 0 75%;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
}
.logoF img,.logoF h3,.logoF p {
    margin: auto;
    display: block;
    text-align: center;
}
.gornji-footer .kontaktF {
    flex: 0 0 25%;
    color: whitesmoke;
    text-align: left;
    padding-left: 10px;
}
.kontaktF h3, p{
    margin: 0;
}
.kontaktF ul {
    list-style: none;
    padding: 0;
    display: flex;
}
.kontaktF ul li {
    margin-right: 1px;
}
.kontaktF ul li img {
    width: 20px;
    height: auto;
}
.copyright {
    width: 100%;
    color: black; 
    text-align: center;
    padding: 20px; 
}
.copyright small a{
    text-decoration: none;
    color: black;
}
.copyright small a:hover{
    text-decoration: underline;
}
.sadrzaj-index {
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: #cfe9b4;
    padding: 30px 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.reklamni-boxovi {
    width: 100%;
    height: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #036f34;
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.reklamni-box-levi{
    width: 50%;
    height: 100%;
}
.reklamni-box-levi img {
    margin: auto;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}
.reklamni-box-levi img:hover {
    transform: scale(1.1);
}
.reklamni-box-desni {
    width: 50%; 
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.gornji-box-desni img,
.donji-box-desni img {
    margin: auto;
    width: 100%;
    height: inherit;
    transition: 0.3s ease;
}
.gornji-box-desni img:hover {
    transform: scale(1.1);
}
.donji-box-desni img:hover {
    transform: scale(1.1);
}
.kratki-opisi {
    height: 50%;
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.prva-stranica,
.druga-stranica,
.treća-stranica {
    width: 100%;
    border: 3px solid #537d29;
    border-radius: 10px;
    background: #a9ca87;
    padding: 30px;
    box-shadow: 0 8px 8px 0 rgba(99, 99, 99, 0.3);
}
.prva-stranica img,
.druga-stranica img,
.treća-stranica img {
    height: auto;
    float: left;
}
.prva-stranica h3,p ,
.druga-stranica h3,p ,
.treća-stranica h3,p {
    margin: 5px;
    font-size: 20px;
}
.prva-stranica h3,
.druga-stranica h3,
.treća-stranica h3{
    position: relative;
    left: 20px;
    top: 10px;
}
.prva-stranica p a,
.druga-stranica p a,
.treća-stranica p a{
    color: black;
}
.treća-stranica #dOpremeMode{
    width: 370px; 
    height: 20px; 
    background-color: #ebebebcc; 
    border: 1px solid #036f34; 
    position: fixed; 
    bottom: 345px; 
    right: 315px; 
    z-index: 9999; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: none; 
    pointer-events: auto;
}
.sadrzaj-novi-vlasnici{
    height: 60%;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #cfe9b4;
    padding: 30px 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.sadrzaj-novi-vlasnici h1, h3, p{
    margin: 0;
}
.sadrzaj-novi-vlasnici h1{
    color: #01543d;
    font-size: 40px;
}
.sadrzaj-novi-vlasnici h3{
    margin-bottom: 20px;
    margin-top: 35px;
}
.sadrzaj-novi-vlasnici p{
    border-bottom: 0.5px solid #a9ca87;
    padding-bottom: 15px;
    text-align: justify;
}
.sadrzaj-novi-vlasnici .slike{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 1200px;
    height: 550px;
}
.slike .m5-6{
    height: 100%;
    border: 1px solid #036f34;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(99, 99, 99, 0.3);
    background-size: cover;
    overflow: hidden;
    background-image: url('slike/macka5.jpg'); 
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
}
.m5-6:hover{
  animation: changeImage 1s forwards;
}
@keyframes changeImage{
  0% {
    background-image: url('slike/macka5.jpg'); 
  }
  100% {
    background-image: url('slike/macka6.jpg'); 
  }
}
.sadrzaj-zabava{
    height: 60%;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #cfe9b4;
    padding: 30px 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.sadrzaj-zabava h1, p{
    margin: 0;
    text-align: left;
}
.sadrzaj-zabava h1{
    color: #01543d;
    font-size: 40px;
    margin-bottom: 30px;
}
.sadrzaj-zabava p{
    margin-bottom: 20px;
}
.sadrzaj-zabava .table-z{
    width: 100%;
    height: 100%;
}
.table-z #t-zabava{
    margin: auto;
}
.table-z tr td{
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}
.table-z tr td:nth-child(-n+2){
    padding-right: 10px;
}
.table-z tr td:nth-child(odd){
    font-weight: bold;
}
.table-z tr td img{
    width: 735px;
    height: 450px;
    padding-bottom: 30px;
}
.sadrzaj-oprema{
    height: 60%;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #cfe9b4;
    padding: 30px 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.sadrzaj-oprema h1, p{
    margin: 0;
    text-align: left;
}
.sadrzaj-oprema h1{
    color: #01543d;
    font-size: 40px;
    margin-bottom: 30px;
}
.sadrzaj-oprema p{
    margin-bottom: 20px;
}
.sadrzaj-oprema .table-o{
    width: 100%;
    height: 100%;
}
.table-o #t-oprema{
    margin: auto;
}
#t-oprema tr td{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}
#t-oprema tr:nth-child(odd){
    background-color: #a9ca87;
    font-weight: bold;
}
#t-oprema tr td img{
    width: 750px;
    height: 550px;
    padding-bottom: 30px;
}
.sadrzaj-kontakt{
    height: 60%;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #cfe9b4;
    padding: 30px 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.sadrzaj-kontakt h1{
    text-align: center;
    color: #01543d;
    font-size: 40px;
    margin-bottom: 50px;
}
.kontakt-inf{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
    background-color: #036f34;
    border-radius: 20px;
}
.kontakt-inf .levi-ki{
    width: 50%;
    height: 100%;
    margin-left: 100px;
    font-size: 25px;
    color: whitesmoke;
}
.levi-ki table tr:nth-child(1) td:first-child{
    font-weight: bold;
    font-size: 27px;
}
.kontakt-inf .desni-ki{
    width: 50%;
    height: 100%;
    margin-left: 50px;
    font-size: 25px;
    color: whitesmoke;
}
.sadrzaj-kontakt .forma-k{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.forma-k #form-kontakt{
    margin: auto;
    border: 5px solid #036f34;
    border-radius: 10px;
    padding: 25px;
}
#form-kontakt .polje{
    font-size: 22px;
    font-style: italic;
    padding-bottom: 20px;
}
.polje #imeprezime{
    background-color: #036f34;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px;
    margin-top: 5px;
}
.polje #email{
    background-color: #036f34;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px;
    margin-top: 5px;
}
.polje #telefon{
    background-color: #036f34;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px;
    margin-top: 5px;
}
#form-kontakt #dodaj{
    background-color: #036f3435;
    text-align: center;
    color: black;
    font-size: 15px; 
    padding: 5px;
    margin-top: 5px;
    width: 15%;
}
.polje #poruka{
    background-color: #036f34;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px;
    margin-top: 5px;
}
#form-kontakt .polje-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
#form-kontakt .submit-btn{
    background-color: #036f34;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
    width: 20%;
}
@media  screen and (min-width:  300px) and (max-width: 430px){
    header{
        width: 1000px;
    }
    .logo a img{
        width: 600px;
    }
    .pretraga #form-pretraga{
        padding-left: 0;
    }
    .pretraga input{
        padding: 10px 15px;
    }
    #form-pretraga #dugme{
        left: 260px;
        bottom: 42px;
    }
    .sadrzaj-index{
        width: 800px;
        padding-bottom: 150px;
        background-image: url("slike/pozadina.png");
        background-repeat: no-repeat;
        background-size: 1000px 1000px;
        background-position: bottom;
    }
    .kratki-opisi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .prva-stranica, .druga-stranica, .treća-stranica{
        width: 30%;
        height: 230px;
    }
    .prva-stranica h3, .druga-stranica h3, .treća-stranica h3{
        top: 0;
    }
    footer{
        width: 1000px;
        border-top: 3px solid #257e32;
    }
    .gornji-footer{
        width: 960px;
    }
    .gornji-footer .kontaktF{
        padding-left: 0;
    }
    .copyright{
        width: 960px;
    }
}
